 h3 {
     font-size: 1.8em;
 }
 button{
     height: 34px;
     border:none;
     border-style: none;
     border-radius: 5px;
 }

 header {
     width: 90%;
     padding: 30px 0 100px 0;
 }
 .logo {
     float: left;
 }
 .headTrialBuyNow {
     float: right;
 }
 .headTrialBuyNow p {
     float: left;
 }
 .headTrialBuyNow button {
     float: right;
 }
 .mainNav {
     display:none;
 }
 .mainNav ul li {
     display: inline-block;
     padding: 20px;
 }
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
     outline: none !important;
 }
 .creativeTaglineButton {
     height: 50px;
     width: 160px;
 }
 .testimonials{
	   position:relative;
 }
 .slideContents {
     padding: 100px 167px 20px;
 }
 .imageHolder {
     float: left;
 }
 .imageHolder img {
     max-height: 130px;
 }
 .authorContainer {
     float: left;
     text-align: left;
     width: calc(100% - 130px);
     padding-top:10px;
 }
 p.authorInsert {
     font-size: 1.8em;
     line-height: 46px;
 }
 p.author {
	 padding-top:0px;
 }
 p.authorAbout {
	 padding-top:5px;
	 padding-bottom:0px;
 }
 .priceTable ul {
    padding-bottom:15px;
 }
 .priceTable ul li {
     width: calc(32% - 60px);
     float: left;
 }
 .priceTable li>p:first-of-type{
    height:120px;  
 }
 .priceTable ul li:first-child, .priceTable ul li:last-child{
	 margin-top:0 !important;
 }
  .priceTable ul li:last-child{
	       width: calc(32% - 70px);
  }

 .priceTable ul li:nth-child(2) {
     margin: 0 calc(2% - 3px);
 }
 .priceTable ul li p:first-of-type {
     min-height: 50px;
 }
 .priceInfo {
     padding: 20px 0px;
 }
 .price {
     float: left;
 }
 .priceAbout{
    float:right;
    text-align: left;
    padding:0px;
 }
 .emailInput {
     float: left;
     width: calc(70% - 40px);
     border-right: none;
 }
 .emailButton {
     width: 30%;
     background-color: #7DC855;
     outline:none;
     border-radius:0px 5px 5px 0px;
	 border:none;
     border-style: none;
 }
 footer {
     background-color: #86939E;
     width: 100%;
     color: #E6E9EB;
     overflow: auto;
     clear: both;
     padding: 10px 0;
     font-family: SFDThin, arial;
     letter-spacing: 1px;
 }
 footer > * {
     float: left;
     height: 100%;
 }
 .imageContainer,
 .copyright {
     width: 25%;
 }
 .imageContainer img {
     margin-left: 10%;
 }
 #footerNav {
     margin-left: -5px;
 }

 .copyright {
     text-align: right;
 }
@media (max-width: 1370px) {
   .price, .priceAbout{
      width:100% !important;  
      margin: auto;
      text-align: center;
   }
}
@media (max-width: 980px) {
   .priceAbout{
      height:75px;  
   }
}