 button, .emailButton {
     border-radius: 5px;
     padding:10px;
     font-size:1.3em;
     width:100%;
     height:80px;
 }

 header {
     width: 100%;
     padding: 20px 0;
 }
 .logo {
     padding-bottom:30px;
 }
 .headTrialBuyNow p {
     font-size:1.5em;
 }
 .headTrialBuyNow button {
     margin:20px 0;
 }
 .mainNav {
     position:absolute;
     top:0;
     left:-310px;
     height:100%;
     z-index: 99999;
     background-color:#86939E;
     box-shadow: 2px 2px 10px #000;
     color:#E6E9EB;
 }
 .mainNav ul li {
     padding: 20px 0;
     font-size:2em;
 }
 .mobileButton{
     float:right;
     background: #86939E;
     border-bottom-right-radius: 10px;
     color: #E6E9EB;
     font-size: 20px;
     padding: 20px 10px 20px 30px;
     text-decoration: none;
     margin-right:-60px;
     letter-spacing: 5px;
     margin-top:-2px;
     font-weight:bold;
  }
 .mobileButton:hover {
  color: #000;
 }
 .mobileButtonIcon {
    display:inline-block;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */  
 }
 .cover{
    display:none;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    filter:blur(5px);
    position:absolute;
    top:0;
    left:0;
    z-index:99998;
 }
 .hollowButton {
     height: 80px;
     width:90%;
 }
 .chart {
     display:none;
 }
 .creativeTaglineButton {
     padding:10px 20px;
 }
 .slideContents {
   padding: 20px 0 20px;
}
 .imageHolder {
     width: 100%;
     margin:0 auto;
 }
 .imageHolder img {
     max-height: 200px;
 }
 .authorContainer {
     width: 100%;
 }
 .slideContents p.authorInsert,
 .slideContents p.author,
 .slideContents p.authorAbout {
     position: relative;
     height: auto;
     font-style: normal;
 }
 #slidess ul{
	 width:auto !important;
	 height: auto !important;
	 left: 0px !important;
 }
 .btn-bar{
	 display:none !important;	 
 }
 p.author{
     font-family: SFDThin, arial;
     letter-spacing: 1px;
     line-height: 25px;
 }
  p.authorAbout {
    margin:0 auto;
    padding-top:0;
 }
 .priceTable ul {
    position: relative;
 }
 .priceTable ul li {
     width: calc(100% - 72px); 
 }
 .priceTable ul li:first-child,
 .priceTable ul li:last-child {
     display: inline-block; /* pesky older IE */
     padding: 30px;
     background-color: #ffffff;
     border-radius: 5px;
     overflow: auto;
     float:left;
 }
 .priceTable ul li:last-child {
    margin-top:20px !important;
}
@media (max-width: 685px) {
 .priceTable ul li:first-child .priceAbout,
 .priceTable ul li:last-child .priceAbout{
    height:90px;
 }
}
 .priceTable ul li:nth-child(2) {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width:calc(100% - 75px);
 }
 
  .priceTable ul li:first-child .price,.priceTable ul li:last-child .price,.priceTable ul li:nth-child(2) .price{
    margin-top: 0;
 }
 
 .priceTable ul li:nth-child(2) p{
    height: 'auto'
 }
 .priceTable ul li:last-child{
	margin-top:20;
 }
 
 .priceAbout{
    width:100% !important;  
    margin: auto;
    padding:20px 0;
 }
 .emailSection {
     width: 80%;
 }
 .emailInput {
     height: 40px;
     width: calc(100% - 46px);
	 border-radius: 5px;
 }
 .emailInput[type=text] {
     font-size:1.3em;
 }
 .emailButton {
	 margin-left: 0px; 
	 margin-top:10px;
     width: 100%;
     border-radius: 5px;
	      height: 50px;
 }
 footer {
     background-color: #86939E;
     width: 100%;
     color: #E6E9EB;
     clear: both;
     padding: 10px 0;
     font-family: SFDThin, arial;
     letter-spacing: 1px;
     clear:both;
 }
 footer > * {
     height: 100%;
    margin:0 auto;
 }
 .imageContainer{
    padding-top:20px;
    height:auto !important;    
 }
 footer img{
     width:50px; 
 }
 #footerNav {
     margin:0 auto;
     height: auto !important;
 }

 .copyright {
     text-align: center;
     clear:both;
 }