 body {
     background-color: #fff;
     font-family: SFDRegular, arial;
     color: #43484d;
 }
 h2 {
     font-size: 2.9em;
     padding: 10px 0;
     letter-spacing: -1px;
 }
 h3 {
     font-size: 1.8em;
     padding: 10px;
     line-height: 46px;
 }
 p {
     padding: 10px;
     color: #86939E;
 }
 button, .emailButton {
     background-color: #7DC855;
     height: 34px;
     border:none;
     border-style: none;
     border-radius: 5px;
     color: #ffffff;
     transition: background 0.5s, color 0.5s, border 0.5s;
     outline: none;
 }
 button:hover, .emailButton:hover {
     background-color: #ffffff;
     color: #7DC855;
     border:1px solid #7DC855;
     transition: background 0.5s, color 0.5s, border 0.5s;
 }
 div {
     text-align: center;
 }
 sup {
     font-size: 0.5em;
     vertical-align: super;
 }
 header {
     overflow: auto;
     width: 90%;
     margin: 0 auto;
     padding: 30px 0 100px 0;
 }
 .logo {
     font-size: 3em;
     float: left;
     color: #86939E;
 }
 .logo sup {
     font-size: 0.3em;
 }
 .headTrialBuyNow {
     float: right;
     position: relative;
     overflow: auto;
 }
 .headTrialBuyNow p {
     color: #86939e;
     font-weight: bold;
     float: left;
 }
 .headTrialBuyNow button {
     float: right;
 }
 .mainNav {
     margin-left: -5px;
     width: 50%;
     padding: 0;
     display:none;
 }
 .mainNav ul {
     width: 100%;
     text-align: center;
 }
 .mainNav ul li {
     display: inline-block;
     margin-left: -5px;
     text-align: center;
     padding: 20px;
 }
 .mainNav ul li:first-child {
     margin-left: 0px;
 }
 .infoTagline p {
     width: 60%;
     font-size: 1em;
     padding: 20px 0 70px 0;
     line-height: 32px;
     margin: 0 auto;
 }
 .hollowButton {
     background-color: #fff;
     color: #8f9ba5;
     border: 2px solid #e1e8ee;
     height: auto;
     padding: 10px 20px;
 }
 .hollowButton:hover {
     border-width: 2px;
 }
 .hollowButton .separator {
     margin: 0 10px;
     border-left: 1px solid #e1e8ee;
     width: 1px;
     background-color: #e1e8ee;
 }
 .chart {
     padding: 70px 0;
 }
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
     outline: none !important;
 }
 .ini {
     width: 100%;
 }
 .creativeTagline {
     clear: both;
     width: 80%;
     margin: 0 auto;
     padding: 100px 0;
 }
 .creativeTagline h3 {
     font-size: 1.8em;
     padding-bottom: 20px;
 }
 .creativeTaglineButton {
     height: 50px;
     width: 160px;
 }
 .testimonials{
       border-top: 1px solid #979797;
	   position:relative;
 }
 .circleButton{
    background:url("../images/arrowDown.png");
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    width:50px;
    height:50px;
	left:50%;
	right:50%;
    border-radius:100px;
    box-shadow: 0px 0px 15px grey;
    transition: background 0.5s;
	z-index:10;
	position:absolute
 }
 .circleButton:hover{
    background:url("../images/arrowHoverDown.png");
    background-color:#5e6977;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.5s;
 }
 .slideContents {
     height: 100%;
     padding: 100px 167px 20px;
     margin: auto 0;
     text-align: left;
     left: 0;
     overflow: auto;
 }
 .imageHolder {
     float: left;/*
     width: 20%;
     max-width: 130px;*/
 }
 .imageHolder img {
     max-height: 130px;
 }
 .authorContainer {
     float: left;
     text-align: left;
width: calc(100% - 130px);
     padding-top:10px;
 }
 p.authorInsert {
     font-size: 1.8em;
     line-height: 46px;
     color: #43484C;
 }
 p.author {
     font-size: 1em;
     color: #43484D;
	 padding-top:0px;
	 padding-bottom:0px;
 }
 p.authorAbout {
     width: 200px;
     color: #86939E;
     font-size: .9em;
	 padding-top:5px;
	 padding-bottom:0px;
 }
 p.authorAbout {
     font-family: SFDThin, arial;
     letter-spacing: 1px;
     line-height: 25px;
 }
 .licensePurchase {
     background-color: #F4F4F4;
     padding: 70px 0 50px 0;
 }
 .priceTable {
     width: 80%;
     margin: 50px auto 0 auto;
     overflow: auto;
     padding-bottom: 5px;
     height: auto;
 }
 .priceTable p {
     font-family: SFDThin, arial;
     line-height: 25px;
 }
 .priceTable .selected {
     border: 2px solid rgba(53,142,215,0.21);
     position: relative;
 }
 .toSerif {
     font-family: serif;
 }
 #outer {
     position: absolute;
     width: 70px;
     height: 50px;
     top: 0px;
     right: 0px;
     overflow: hidden;
     border-radius: 3px;
     z-index: 1
 }
 #inner {
     transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     background-color: #eaf3fb;
     width: 50px;
     height: 50px;
     top: -25px;
     left: 50px;
     position: relative;
 }
 #outer span {
     position: absolute;
     right: 7px;
     top: 2px;
     z-index: 2;
     color: #86939e;
     font-style: italic;
 }
 .priceTable ul {
     width: 100%;
    overflow: auto;
    height:auto;
    padding-bottom:15px;
 }
 .priceTable ul li {
     width: calc(32% - 60px);
     float: left;
     padding: 30px;
     background-color: #ffffff;
     border-radius: 5px;
     box-shadow: 1px 1px 4px #cccccc;
     overflow: auto;
     border-top: 0px solid #fff;
     border-bottom: 0px solid #fff;
     height:auto;
    box-shadow:0px 0px 0px #888888;
    transition:box-shadow 0.5s, border-bottom 0.5s;   
 }
 .priceTable ul li:hover{
    box-shadow: 10px 10px 5px #888888;
    transition:box-shadow 0.5s, border-bottom 0.5s;   
 }
 .priceTable li>p:first-of-type{
    height:120px;  
 }
 .priceTable ul li:first-child, .priceTable ul li:last-child{
	 margin-top:0 !important;
 }
  .priceTable ul li:last-child{
	       width: calc(32% - 70px);
  }

 .priceTable ul li:nth-child(2) {
     margin: 0 calc(2% - 3px);
 }
 .priceTable hr {
     width: calc(100% + 59px);
     margin-left: -30px;
     height: 0px;
     border: none;
     border-bottom: 1px solid #CECACA;
 }
 .priceTable ul li p:first-of-type {
     min-height: 50px;
 }
 .priceInfo {
     width:100%;
     overflow: auto;
     padding: 20px 0px;
     height:auto;
 }
 .price {
     color: #000000;
     float: left;
     position: relative;
     width:auto;
 }
 .price sup{
    color:#50555B;
 }
 .price.free {
     color: #7DC855;
 }
 .priceAbout{
    overflow:auto;
    line-height: 20px;
    float:right;
    text-align: left;
    width:166px;
    padding:0px;
 }
 .priceTable button {
     clear: both;
     width: 100%;
     height: 50px;
 }
 .emailSection {
     text-align: center;
     width: 380px;
     margin: 0 auto;
     padding: 50px 0;
 }
 .emailSection p {
     line-height: 32px;
 }
 .emailInput {
     float: left;
     height: 30px;
     width: calc(70% - 40px);
     padding: 5px 0 5px 40px;
     border: 2px solid #E1E8EE;
     border-right: none;
     border-radius: 5px 0 0 5px;
     background: url('../images/emailIcon.png');
     background-repeat: no-repeat;
    height:34px;
     background-size: 20px 20px;
     background-position: 10px 10px;
     z-index: 1;
 }
 .emailInput[type=text] {
     color: #86939E;
 }
 .emailButton {
     clear: both;
     margin-left: -3px;
     width: 30%;
     height: 34px;
     border-style: none;
     border-radius: 0 5px 5px 0;
     color: #ffffff;
     z-index: 2;
     background-color: #7DC855;
     outline:none;
 }
 .emailInput,
 .emailButton {
     margin-top: 20px;
 }
 footer {
     background-color: #86939E;
     width: 100%;
     color: #E6E9EB;
     overflow: auto;
     clear: both;
     padding: 10px 0;
     font-family: SFDThin, arial;
     letter-spacing: 1px;
 }
 footer > * {
     float: left;
     height: 100%;
 }
 .imageContainer,
 .copyright {
     width: 25%;
 }
 .imageContainer img {
     margin-left: 10%;
 }
 #footerNav {
     margin-left: -5px;
     width: 50%;
     padding: 0;
 }
 #footerNav ul {
     width: 100%;
     text-align: center;
 }
 #footerNav ul li {
     display: inline-block;
     margin-left: -5px;
     text-align: center;
     padding: 20px;
 }
 #footerNav ul li:first-child {
     margin-left: 0px;
 }
 .copyright {
     text-align: right;
 }
@media (max-width: 1370px) {
   .price, .priceAbout{
      width:100% !important;  
      margin: auto;
      text-align: center;
   }
}
@media (max-width: 980px) {
   .priceAbout{
      height:75px;  
   }
}