 button, .emailButton {
     border-radius: 5px;
     padding:10px;
     font-size:1.3em;
     width:100%;
     height:80px;
 }

 header {
     width: 100%;
     padding: 20px 0;
 }
 .logo {
     padding-bottom:30px;
 }
 .headTrialBuyNow p {
     font-size:1.5em;
 }
 .headTrialBuyNow button {
     margin:20px 0;
 }
 .mainNav {
     position:absolute;
     top:0;
     left:-310px;
     height:100%;
     z-index: 99999;
     background-color:#86939E;
     box-shadow: 2px 2px 10px #000;
     color:#E6E9EB;
 }
 .mainNav ul li {
     padding: 20px 0;
     font-size:2em;
 }
 .mobileButton{
     float:right;
     background: #86939E;
     border-bottom-right-radius: 10px;
     color: #E6E9EB;
     font-size: 20px;
     padding: 20px 10px 20px 30px;
     text-decoration: none;
     margin-right:-60px;
     letter-spacing: 5px;
     margin-top:-2px;
     font-weight:bold;
  }
 .mobileButton:hover {
  color: #000;
 }
 .mobileButtonIcon {
    display:inline-block;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */  
 }
 .cover{
    display:none;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0);
    filter:blur(5px);
    position:absolute;
    top:0;
    left:0;
    z-index:99998;
 }
 .hollowButton {
     height: 80px;
     width:90%;
 }
 .chart {
     display:none;
 }
 .creativeTaglineButton {
     padding:10px 20px;
 }
 .slideContents {
   padding: 20px 0 20px;
}
 .imageHolder {
     width: 100%;
     margin:0 auto;
 }
 .imageHolder img {
     max-height: 200px;
 }
 .authorContainer {
     width: 100%;
 }
 .slideContents p.authorInsert,
 .slideContents p.author,
 .slideContents p.authorAbout {
     position: relative;
     height: auto;
     font-style: normal;
 }
 p.author {
     font-size: 1em;
     color: #43484D;
     padding-bottom:0;
 }
 p.authorAbout {
     width: 200px;
     color: #86939E;
     font-size: .9em;
    margin:0 auto;
    padding-top:0;
 }
 p.author, p.authorAbout {
     font-family: SFDThin, arial;
     letter-spacing: 1px;
     line-height: 25px;
 }
 .licensePurchase {
     background-color: #F4F4F4;
     padding: 70px 0 50px 0;
 }
 .priceTable {
     width: 80%;
     margin: 50px auto 0 auto;
     overflow: auto;
     padding-bottom: 5px;
     height: auto;
 }
 .priceTable p {
     font-family: SFDThin, arial;
     line-height: 25px;
 }
 .priceTable .selected {
     border: 2px solid rgba(53,142,215,0.21);
     position: relative;
 }
 .toSerif {
     font-family: serif;
 }
 #outer {
     position: absolute;
     width: 70px;
     height: 50px;
     top: 0px;
     right: 0px;
     overflow: hidden;
     border-radius: 3px;
     z-index: 1
 }
 #inner {
     transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     background-color: #eaf3fb;
     width: 50px;
     height: 50px;
     top: -25px;
     left: 50px;
     position: relative;
 }
 #outer span {
     position: absolute;
     right: 7px;
     top: 2px;
     z-index: 2;
     color: #86939e;
     font-style: italic;
 }
 .priceTable ul {
     width: 100%;
    overflow: auto;
    height:auto;
    position: relative;
    padding-bottom:5px;
 }
 .priceTable ul li {
     width: calc(100% - 62px);
     padding: 30px;
     background-color: #ffffff;
     border-radius: 5px;
     box-shadow: 1px 1px 4px #cccccc;
     overflow: auto;
     border-top: 0px solid #fff;
       border-bottom: 0px solid #fff;
     height:auto;
     transition:border-top 0.5s, border-bottom 0.5s;   
 }
 .priceTable ul li:hover{
     border-top: 20px solid rgba(53,142,215,0.21);
         border-bottom: 20px solid rgba(53,142,215,0.21);

     transition:border-top 0.5s, border-bottom 0.5s;   
 }
 .priceTable ul li:first-child,
 .priceTable ul li:last-child {
     display: inline-block; /* pesky older IE */
     padding: 30px;
     background-color: #ffffff;
     border-radius: 5px;
     box-shadow: 1px 1px 4px #cccccc;
     overflow: auto;
     float:left;
 }
 .priceTable ul li:last-child {
    margin-top:20px !important;
}
@media (max-width: 685px) {
 .priceTable ul li:first-child .priceAbout,
 .priceTable ul li:last-child .priceAbout{
    height:90px;
 }
}
 .priceTable ul li:nth-child(2) {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width:calc(100% - 66px);
 }
 
  .priceTable ul li:first-child .price,.priceTable ul li:last-child .price,.priceTable ul li:nth-child(2) .price{
    margin-top: 0;
 }
 
 .priceTable ul li:nth-child(2) p{
    height: 'auto'
 }
 .priceTable ul li:last-child{
	margin-top:20;
 }
 
 .priceTable hr {
     width: calc(100% + 59px);
     margin-left: -30px;
     height: 0px;
     border: none;
     border-bottom: 1px solid #CECACA;
 }

 .priceInfo {
     width:100%;
     overflow: auto;
     height:auto;
 }
 .price {
     color: #000000;
     position: relative;
     width:auto;
 }
 .price sup{
    color:#50555B;
 }
 .price.free {
     color: #7DC855;
 }
 .priceAbout{
    overflow:auto;
    line-height: 20px;
    width:166px;
    width:100% !important;  
    margin: auto;
    text-align: center;
 }
 .priceAbout{
    padding:20px 0;
 } 
 .priceTable button {
     clear: both;
     width: 100%;
     height: 50px;
 }
 .emailSection {
     text-align: center;
     width: 80%;
     margin: 0 auto;
     padding: 50px 0;
 }
 .emailSection p {
     line-height: 32px;
 }
 .emailInput {
     height: 60px;
     width: calc(100% - 50px);
     padding: 5px 0 5px 40px;
     border: 2px solid #E1E8EE;
     border-radius: 5px;
     background: url('../images/emailIcon.png');
     background-repeat: no-repeat;
     background-size: 20px 20px;
     background-position: 10px center;
     z-index: 1;
 }
 .emailInput[type=text] {
     color: #86939E;
     font-size:1.3em;
 }
 .emailButton {
     clear: both;
     margin-left: -3px;
     width: 100%;
     height: 34px;
     border-style: none;
     border-radius: 5px;
     height: 34px;
     color: #ffffff;
     z-index: 2;
 }
 .emailInput,
 .emailButton {
     margin-top: 20px;
 }
 footer {
     background-color: #86939E;
     width: 100%;
     color: #E6E9EB;
     clear: both;
     padding: 10px 0;
     font-family: SFDThin, arial;
     letter-spacing: 1px;
     clear:both;
 }
 footer > * {
     height: 100%;
    margin:0 auto;
 }
 .imageContainer{
    padding-top:20px;
    height:auto !important;    
 }
 footer img{
     width:50px; 
 }
 #footerNav {
     margin:0 auto;
     height: auto !important;
 }

 .copyright {
     text-align: center;
     clear:both;
 }