 body {
     background-color: #fff;
     font-family: SFDRegular, arial;
     color: #43484d;
 }
 h2 {
     font-size: 2.9em;
     padding: 10px 0;
     letter-spacing: -1px;
 }
 h3 {
     font-size: 2em;
     padding: 10px;
     line-height: 46px;
 }
 p {
     padding: 10px;
     color: #86939E;
 }
 button, .emailButton{
     color: #ffffff;
     background-color: #7DC855;
     border-style: none;
     transition: background 0.5s, color 0.5s, border 0.5s;
     outline: none;
}
 button:hover, .emailButton:hover {
     background-color: #ffffff;
     color: #7DC855;
     border:1px solid #7DC855;
     transition: background 0.5s, color 0.5s, border 0.5s;
 }
 div {
     text-align: center;
 }
 sup {
     font-size: 0.5em;
     vertical-align: super;
 }

 .mainContainer{
    position:relative;
 }
 .container{
    background-color:#fff;
 }
 header {
     overflow: auto;
     margin: 0 auto;    
}
 .logo {
     font-size: 3em;
     color: #86939E;
}
 .logo sup {
     font-size: 0.3em;
 }
 .headTrialBuyNow {
     position: relative;
     overflow: auto;
 }
 .headTrialBuyNow p {
     color: #86939e;
     font-weight: bold;
}
 .mainNav {
     margin-left: -5px;
     width: 300px;
     padding: 0;
}
 .mainNav ul {
     width: 100%;
     text-align: center;
 }
 .mainNav ul li {
     margin-left: -5px;
     text-align: center;
}
 .mainNav ul li:first-child {
     margin-left: 0px;
 }
 .infoTagline p {
     width: 60%;
     font-size: 1em;
     padding: 20px 0 70px 0;
     line-height: 32px;
     margin: 0 auto;
 }
 .hollowButton {
     background-color: #fff;
     color: #8f9ba5;
     border: 2px solid #e1e8ee;
     height: auto;
     padding: 10px 20px;
 }
 .hollowButton:hover {
     border-width: 2px;
 }
 .hollowButton .separator {
     margin: 0 10px;
     border-left: 1px solid #e1e8ee;
     width: 1px;
     background-color: #e1e8ee;
 }
 .chart {
     padding: 70px 0;
}
 .ini {
     width: 100%;
 }
 .creativeTagline {
     clear: both;
     width: 80%;
     margin: 0 auto;
     padding: 100px 0;
 }
 .creativeTagline h3 {
     font-size: 1.8em;
     padding-bottom: 20px;
 }
 .testimonials{
       border-top: 1px solid #979797;
 }
 .circleButton{
    background:url("../images/arrowDown.png");
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    width:50px;
    height:50px;
	left:50%;
	right:50%;
    border-radius:100px;
    box-shadow: 0px 0px 15px grey;
    transition: background 0.5s;
	z-index:10;
	position:absolute
 }
 .circleButton:hover{
    background:url("../images/arrowHoverDown.png");
    background-color:#5e6977;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.5s;
 }
.slideContents{
     height: 100%;
     margin: auto 0;
     text-align: left;
     left: 0;
     overflow: auto;
 }
 p.authorInsert {
     font-size: 1.5em;
     line-height: 1.5em;
     color: #43484C;
 }
#footerNav {
     width: 50%;
     padding: 0;
 }
#footerNav ul {
     width: 100%;
     text-align: center;
 }
 #footerNav ul li {
     display: inline-block;
     margin-left: -5px;
     text-align: center;
     padding: 20px;
 } 
#footerNav ul li:first-child {
     margin-left: 0px;
 }
.copyright p {
     color: #E6E9EB;
     font-size:0.7em;
 }
 .tooltips {
     position: absolute;
     color: #fff;
     box-shadow: 1px 1px 4px #cccccc;
 }
 .circleInfo {
     display: inline-block;
     padding: 2px 8px;
     border-radius: 50%;
     height: auto;
     width: auto;
     margin-right: 10px;
     background-color: #64c1ba;
     border: 2px solid #75c7c1;
 }
 .jan {
     padding: 20px;
     background-color: #838CC7;
     color: #fff;
     border-radius: 10px;
     top: 0px;
     left: -100%;
     z-index: 1;
 }
 .jan h3 {
     padding: 0;
 } 
@font-face {
     font-family: SFDBold;
     src: url(fonts/YosemiteSanFranciscoFont/System_San_Francisco_Display_Bold.ttf);
 }
 @font-face {
     font-family: SFDRegular;
     src: url(fonts/YosemiteSanFranciscoFont/System_San_Francisco_Display_Regular.ttf);
 }
 @font-face {
     font-family: SFDThin;
     src: url(fonts/YosemiteSanFranciscoFont/System_San_Francisco_Display_Thin.ttf);
 }
 @font-face {
     font-family: SFDUltrathin;
     src: url(fonts/YosemiteSanFranciscoFont/System_San_Francisco_Display_Ultrathin.ttf);
 }
 @font-face {
     font-family: SFDTBoldItalic;
     src: url(fonts/YosemiteSanFranciscoFont/text/System_San_Francisco_Text_BoldItalic.ttf);
 }
 @font-face {
     font-family: SFDTMedium;
     src: url(fonts/YosemiteSanFranciscoFont/text/System_San_Francisco_Text_Medium.ttf);
 }
 @font-face {
     font-family: SFDTMediumItalic;
     src: url(fonts/YosemiteSanFranciscoFont/text/System_San_Francisco_Text_MediumItalic.ttf);
 }
 @font-face {
     font-family: SFDTRegularItalic;
     src: url(fonts/YosemiteSanFranciscoFont/text/System_San_Francisco_Text_RegularItalic.ttf);
 }