 button, .emailButton {
     border-radius: 5px;
     padding:10px;
     font-size:1.3em;
 }

 header {
     width: 90%;
     padding: 30px 0 50px 0;
 }
 .logo {
     padding-bottom:30px;
 }
 .headTrialBuyNow button {
     margin:20px 0;
 }
 .mainNav {
     position:absolute;
     top:0;
     left:-310px;
     height:100%;
     z-index: 99999;
     background-color:#86939E;
     box-shadow: 2px 2px 10px #000;
     color:#E6E9EB;
 }
 .mainNav ul li {
     padding: 20px 0;
     font-size:2em;
 }
 .mobileButton{
     float:right;
     background: #86939E;
     border-bottom-right-radius: 10px;
     color: #E6E9EB;
     font-size: 20px;
     padding: 20px 10px 20px 30px;
     text-decoration: none;
     margin-right:-60px;
     letter-spacing: 5px;
     margin-top:-2px;
     font-weight:bold;
  }
 .mobileButton:hover {
  color: #000;
 }
 .mobileButtonIcon {
    display:inline-block;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */  
 }
 .cover{
    display:none;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    filter:blur(5px);
    position:absolute;
    top:0;
    left:0;
    z-index:99998;
 }
 .creativeTaglineButton {
     padding:10px 20px;
 }
 .slideContents {
     padding: 50px 167px 20px;
 }
 .imageHolder {
     width: 100%;
     margin:0 auto;
 }
 .imageHolder img {
     max-height: 200px;
 }
 .authorContainer {
     width: 100%;
 }
 .slideContents p.authorInsert,
 .slideContents p.author,
 .slideContents p.authorAbout {
     position: relative;
     height: auto;
     font-style: normal;
 }
 p.author{
     font-family: SFDThin, arial;
     letter-spacing: 1px;
     line-height: 25px;
 }
  p.authorAbout {
    margin:0 auto;
    padding-top:0;
 }
 .priceTable ul {
	    position: relative;
 }
 .priceTable ul li {
     width: calc(47% - 67px); 
 }
 .priceTable ul li:first-child,
 .priceTable ul li:last-child {
     display: inline-block; /* pesky older IE */
     padding: 30px;
     background-color: #ffffff;
     border-radius: 5px;
     overflow: auto;
     float:left;
 }
 .priceTable li>p:first-of-type{
    height:120px;  
 }
 .priceTable ul li:first-child{
    margin-right:6%;    
 }

 .priceTable ul li:nth-child(2) {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width:calc(100% - 76px);
 }

 .priceTable ul li:first-child .price,.priceTable ul li:last-child .price,.priceTable ul li:nth-child(2) .price{
    margin-top: 0;
 }
 
 .priceTable ul li:nth-child(2) p{
    height: 'auto'
 }

 .priceAbout{
    width:100% !important;  
    margin: auto;
    padding:20px 0;
 }
 .emailInput {
     float: left;
     width: calc(70% - 40px);
     border-right: none;
	 border-radius: 5px 0px 0px 5px;

 }
 .emailInput[type=text] {
     font-size:1.3em;
 }
 .emailButton {
     width: 30%;
	 border-radius:0px 5px 5px 0px;
 }
 footer {
     background-color: #86939E;
     width: 100%;
     color: #E6E9EB;
     clear: both;
     padding: 10px 0;
     font-family: SFDThin, arial;
     letter-spacing: 1px;
 }
 footer > * {
     height: 100%;
    margin:0 auto;
 }
 .imageContainer{
    padding-top:20px;
    height:auto !important;    
 }
 footer img{
     width:50px; 
 }
 #footerNav {
     margin:0 auto;
     height: auto !important;
 }

 .copyright {
     text-align: center;
 }
 
 @media (max-width: 685px) {
 .priceTable ul li:first-child .priceAbout,
 .priceTable ul li:last-child .priceAbout{
    height:90px;
 }
}